<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width, height=device-height">
      <title>Calling App</title>
	  
	  
      <!-- iPad and iPad mini (with @2× display) iOS ≥ 8 -->
      <link rel="apple-touch-icon-precomposed" sizes="180x180" href="img/icon/icon-60@3x.png">
      <!-- iPad 3+ (with @2× display) iOS ≥ 7 -->
      <link rel="apple-touch-icon-precomposed" sizes="152x152" href="img/icon/icon-76@2x.png">
      <!-- iPad (with @2× display) iOS ≤ 6 -->
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/icon/icon-72@2x.png">
      <!-- iPhone (with @2× and @3 display) iOS ≥ 7 -->
      <link rel="apple-touch-icon-precomposed" sizes="120x120" href="img/icon/icon-60@2x.png">
      <!-- iPhone (with @2× display) iOS ≤ 6 -->
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/icon/icon@2x.png">
      <!-- iPad mini and the first- and second-generation iPad (@1× display) on iOS ≥ 7 -->
      <link rel="apple-touch-icon-precomposed" sizes="76x76" href="img/icon/icon-76.png">
      <!-- iPad mini and the first- and second-generation iPad (@1× display) on iOS ≤ 6 -->
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/icon/icon-72.png">
      <!-- Android Stock Browser and non-Retina iPhone and iPod Touch -->
      <link rel="apple-touch-icon-precomposed" href="img/icon/icon.png">
      <!-- Fallback for everything else -->
      <link rel="shortcut icon" href="img/icon/icon.png">

      <!--
          Chrome 31+ has home screen icon 192×192 (the recommended size for multiple resolutions).
          If it’s not defined on that size it will take 128×128.
      -->
      <link rel="icon" sizes="192x192" href="img/icon/drawable-xxxhdpi-icon.png">

      <!-- Add to homescreen for Chrome on Android -->
      <meta name="mobile-web-app-capable" content="yes">

      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-title" content="Messenger">


    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">
	 <link href="css/mystyle.css" rel="stylesheet">
	  <link href="css/style.css" rel="stylesheet">
	   <link href="css/font-awesome.min.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.min.js"></script>
	 <script src="lib/ng-cordova.min.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
	<script src="js/signaling.js"></script>
	

	<script src="lib/ng-tags-input.min.js"></script>
	<script src="lib/ngStorage.min.js"></script>
	<script src="lib/socket.io.js"></script>
	<script src="lib/socket.js"></script>
	<script src="lib/adapter.js"></script>    
	<script src="lib/jquery.min.js"></script>    
	<script src="lib/janus.js"></script>  
	<script src="lib/satellizer.js"></script>  
	
	<link rel="stylesheet" href="ionic-filter-bar/dist/ionic.filter.bar.css">
	<script src="ionic-filter-bar/dist/ionic.filter.bar.js"></script>
 
	
  </head>
  <body ng-app="starter" ng-controller="MainCtrl">
    <!--
      The nav bar that will be updated as we navigate between views.
    -->
  
    <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
    <ion-nav-view ng-init="doSomething()"></ion-nav-view>
	
	<script id="templates/calling.html" type="text/ng-template">
      <ion-modal-view>
       <div class="modal calling-modal">
  <div>
   
    <div class="img-avtar">
	
      <h2 class="callusernames">Tham gia </h2>
      <h3 class="timer" style="font-weight:bold">

        <span ng-repeat="member in recent.group_member" ng-if="member.is_online">{{member.name}}-{{member.title}} <span>
      </h3>
      
    </div>
    <!--div class="calling-icons-group">
     <div class="rounded-inline img-avtar-account" ng-repeat="member in recent.group_member" ng-if="member.is_online"> <img style ="border-radius: 50%; max-width:60px; max-height:60px " src={{member.avatar}} ></div>	  
      
    </div-->
	
	<div class="img-avtar">

      <h2 class="callusernames">Đang kết nối</h2>
      <h3 class="timer" style="font-weight:bold">

       <span ng-repeat="member in recent.group_member" ng-if="!member.is_online">{{member.name}}-{{member.title}} <p><span>
      </h3>
      
    </div>
	 <!--div class="calling-icons-group">
      <div class="rounded-inline img-avtar-account" ng-repeat="member in recent.group_member" ng-if="!member.is_online"> <img style ="border-radius: 50%; max-width:60px; max-height:60px " src={{member.avatar}} ></div>
	       
    </div-->
    <div class="padding calling-icons-group">
	  <div class="rounded-inline"><span class="icon-holder"><i class="fa fa-volume-up" ></i></span></div>
      <div class="rounded-inline"> <span class="icon-holder" ng-click="addCallers1()"><i class="fa fa-microphone"></i></span> </div>
      
    </div>
	<button class="button button-rounded call-icon" ng-click="closeModal()"><i><img src="img/call-drop-icon.png" ></i></button>
  </div>
</div>

      </ion-modal-view>
    </script>
  </body>
</html>
